﻿@model Ecotech.ViewModels.Admin.EditSettingsViewModel
@{
    ViewBag.Title = "Settings";
}

@using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.Id)


    @Html.ValidationSummary(false)

    <div class="tabbable tabs-below">

        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#general">General</a></li>
            <li><a data-toggle="tab" href="#email">Email</a></li>
            <li><a data-toggle="tab" href="#role">Starting Role</a></li>
            <li><a data-toggle="tab" href="#spam">Spam</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general">

                <div class="editor-label">
                    @Html.LabelFor(model => model.ApplicationName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ApplicationName)
                    @Html.ValidationMessageFor(model => model.ApplicationName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ApplicationUrl)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ApplicationUrl)
                    @Html.ValidationMessageFor(model => model.ApplicationUrl)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.IsClosed)
                    @Html.LabelFor(model => model.IsClosed)
                    @Html.ValidationMessageFor(model => model.IsClosed)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableRSSFeeds)
                    @Html.LabelFor(model => model.EnableRSSFeeds)
                    @Html.ValidationMessageFor(model => model.EnableRSSFeeds)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.DisplayEditedBy)
                    @Html.LabelFor(model => model.DisplayEditedBy)
                    @Html.ValidationMessageFor(model => model.DisplayEditedBy)
                </div>
                                
                <div class="editor-field n3ocheckboxfield">
                    @Html.CheckBoxFor(model => model.SuspendRegistration)
                    @Html.LabelFor(model => model.SuspendRegistration)
                    @Html.ValidationMessageFor(model => model.SuspendRegistration)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableMarkAsSolution)
                    @Html.LabelFor(model => model.EnableMarkAsSolution)
                    @Html.ValidationMessageFor(model => model.EnableMarkAsSolution)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableSpamReporting)
                    @Html.LabelFor(model => model.EnableSpamReporting)
                    @Html.ValidationMessageFor(model => model.EnableSpamReporting)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableMemberReporting)
                    @Html.LabelFor(model => model.EnableMemberReporting)
                    @Html.ValidationMessageFor(model => model.EnableMemberReporting)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableEmailSubscriptions)
                    @Html.LabelFor(model => model.EnableEmailSubscriptions)
                    @Html.ValidationMessageFor(model => model.EnableEmailSubscriptions)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.ManuallyAuthoriseNewMembers)
                    @Html.LabelFor(model => model.ManuallyAuthoriseNewMembers)
                    @Html.ValidationMessageFor(model => model.ManuallyAuthoriseNewMembers)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EmailAdminOnNewMemberSignUp)
                    @Html.LabelFor(model => model.EmailAdminOnNewMemberSignUp)
                    @Html.ValidationMessageFor(model => model.EmailAdminOnNewMemberSignUp)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.EnableSignatures)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EnableSignatures)
                    @Html.ValidationMessageFor(model => model.EnableSignatures)
                </div>

            </div>
            
            <div class="tab-pane" id="email">

                <div class="submit-holder">
                    <p>Complete the settings below and save, then send a test email using the button below</p>
                    <p><a href="@Url.Action("TestEmail")" class="btn btn-large btn-success">Test Email Settings</a></p>
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.AdminEmailAddress)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AdminEmailAddress)
                    @Html.ValidationMessageFor(model => model.AdminEmailAddress)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NotificationReplyEmail)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NotificationReplyEmail)
                    @Html.ValidationMessageFor(model => model.NotificationReplyEmail)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SMTP)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SMTP)
                    @Html.ValidationMessageFor(model => model.SMTP)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SMTPUsername)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SMTPUsername)
                    @Html.ValidationMessageFor(model => model.SMTPUsername)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SMTPPassword)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SMTPPassword)
                    @Html.ValidationMessageFor(model => model.SMTPPassword)
                    <script type="text/javascript">
                        $("#SMTPPassword").attr("type", "password");
                    </script>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SMTPPort)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SMTPPort)
                    @Html.ValidationMessageFor(model => model.SMTPPort)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SMTPEnableSSL)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.SMTPEnableSSL)
                    @Html.ValidationMessageFor(model => model.SMTPEnableSSL)
                </div>
                <p><i><strong>IMPORTANT:</strong> Only port 25 works in medium trust environments. You will need to comment out the medium trust entry in the web.config if you want to 
                        use any other port number.</i></p>
            </div>
            
            <div class="tab-pane" id="role">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NewMemberStartingRole)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.NewMemberStartingRole, new SelectList(Model.Roles, "Id", "RoleName"), string.Empty)
                    @Html.ValidationMessageFor(model => model.NewMemberStartingRole)
                </div>
            </div>

            <div class="tab-pane" id="spam">
                <div class="editor-label">
                    @Html.LabelFor(model => model.EnableAkisment)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EnableAkisment)
                    @Html.ValidationMessageFor(model => model.EnableAkisment)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.AkismentKey)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AkismentKey)
                    @Html.ValidationMessageFor(model => model.AkismentKey)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SpamQuestion)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpamQuestion)
                    @Html.ValidationMessageFor(model => model.SpamQuestion)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SpamAnswer)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpamAnswer)
                    @Html.ValidationMessageFor(model => model.SpamAnswer)
                </div>
            </div>
            
        </div>

    </div>

    <div class="submit-holder">
        <input type="submit" class="btn btn-large btn-success" value="Save Settings" />
    </div>

}

