﻿@using Ecotech.Utilities
@model Ecotech.ViewModels.Admin.IndexViewModel
@{
    ViewBag.Title = "Admin";
}
@section AdminHeader
{
    @*<script src="@Url.Content("~/Scripts/dashboard.js")" type="text/javascript"></script>*@
}
<h1>Admin overview page</h1>

<div class="row dashboardrow">
    <div class="span5">
        <div class="admindashboard">
            <h4>Latest Users</h4>
            <div class="dashboardlatestusers">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="admindashboard">
            <h4>Lowest Point Users</h4>
            <div class="dashboardlowestpointusers">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
</div>
