﻿@using ResumeBuilder.Web.Application
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="n3o Digital">
    <link href="@Url.Content("~/Content/Admin/Admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Admin/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body
        {
            padding-top: 60px;
            padding-bottom: 0px;
        }
    </style>
    <!--<link href="/css/bootstrap-responsive.css" rel="stylesheet">-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var app_base = '@Url.Content("~/")';
    </script>
    <script src="@Url.Content("~/Content/scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/bootstrap.min.js")" type="text/javascript"></script>
    @RenderSection("AdminHeader", false)
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="@Url.Content("~/")">Main Site</a></li>
                        <li>@Html.ActionLink("Admin Home", "Index", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("_GenericMessage")
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="span2">
                    <div id="logindisplay">
                        @Html.Partial("_LogOnPartial")
                    </div>
                    <div class="well well-small sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Settings</li>
                            <li><a href="@Url.Action("Index", "Settings", new { area = "Admin" }, null)"><i class='icon-cog'>
                            </i>Configuration </a></li>
                            <li class="nav-header">Membership</li>
                            <li><a href="@Url.Action("Manage", "Account", new { area = "Admin" }, null)"><i class='icon-user'>
                            </i>Manage Users </a></li>
                            <li><a href="@Url.Action("ListAllRoles", "Account", new { area = "Admin" }, null)"><i
                                class="icon-flag"></i>Manage Roles</a> </li>
                            <li><a href="@Url.Action("AddRole", "Account", new { area = "Admin" }, null)"><i
                                class="icon-plus"></i>Add Roles</a> </li>
                            <li class="nav-header">Tools</li>
                            <li><a href="@Url.Action("Index", "Log", new { area = "Admin" })"><i class='icon-exclamation-sign'>
                            </i>Log </a></li>
                            <li><a href="@Url.Action("ScriptDatabase", "Admin", new { area = "Admin" })"><i class='icon-exclamation-sign'>
                            </i>Script Database </a></li>
                        </ul>
                    </div>
                    @*@Html.Partial("_GetCurrentVersion")*@
                </div>
            }
            <div class="span10 mainadminbody">
                @RenderBody()
            </div>
        </div>
        <hr />
    </div>
</body>
</html>
