﻿@using Ecotech.Domain.Constants
@using Ecotech.ViewModels
@{
    var genericMessage = new GenericMessageViewModel();
    if (TempData[AppConstants.MessageViewBagName] != null)
    {
        genericMessage = (GenericMessageViewModel)TempData[AppConstants.MessageViewBagName];
    }
    else if (ViewBag.Message != null)
    {
        genericMessage = (GenericMessageViewModel)ViewBag.Message;
    }
}

<div id="jsquickmessage" style="display:none;"></div>
@if (!string.IsNullOrEmpty(genericMessage.Message))
{
<script type="text/javascript"> $(function () { $('div.alert').delay(1800).fadeOut(); });</script>
<div class="alert alert-block alert-@genericMessage.MessageType.ToString() fade in out">
    <a href="#" data-dismiss="alert" class="close">&times;</a>
    @genericMessage.Message
</div>
}
        
