﻿@if(Request.IsAuthenticated) {        
    <text><strong>@User.Identity.Name</strong>
    [@Html.ActionLink("Logoff", "LogOff", "Members", new { area = "" }, null)]</text>
}
else {
    @:[@Html.ActionLink("Logon", "LogOn", "Members", new { area = "" }, null)]
}
