﻿@{
    ViewBag.Title = "SKF Collateral Ordering System :: Dashboard";
}

<h1>Home Index</h1>
<section id="rst-searchdomain">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="rst-searchdomain">
                    <form action="/">
                        <input type="text" class="rst-page-input" placeholder="Enter your domain name and hit enter" />
                        <select name="domainselect" id="domainselect">
                            <option value=".com" selected="selected">.com</option>
                            <option value=".vn">.vn</option>
                            <option value=".com.vn">.us</option>
                        </select>
                        <input type="submit" value="SEARCH" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End search domain -->
<!-- What I Do -->
<section id="rst-whatido">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 rst-index-whatido">
                <ul>
                    <li>
                        <img src="images/icon/wid1.png" alt="" />
                        <p>
                            <span>speed servers</span>
                            Mauris vehicula felis vulputate velit semper, nec mollis nisi aliquam
                        </p>
                    </li>
                    <li>
                        <img src="images/icon/wid2.png" alt="" />
                        <p>
                            <span>Hostro services</span>
                            Mauris vehicula felis vulputate velit semper, nec mollis nisi aliquam
                        </p>
                    </li>
                    <li>
                        <img src="images/icon/wid3.png" alt="" />
                        <p>
                            <span>Live support</span>
                            Mauris vehicula felis vulputate velit semper, nec mollis nisi aliquam
                        </p>
                    </li>
                    <li>
                        <img src="images/icon/wid4.png" alt="" />
                        <p>
                            <span>get domain name</span>
                            Mauris vehicula felis vulputate velit semper, nec mollis nisi aliquam
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End What I Do -->
<!-- About me -->
<section id="rst-aboutme">
    <div class="container">
        <div class="rst-excerpt">
            <h4>About Me</h4>
            <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
            <a href="#" class="btn btn-primary">read more</a>
        </div>
        <div class="rst-list">
            <ul>
                <li><p>Nunc lacinia non diam eget efficitur</p></li>
                <li><p>Curabitur tristique diam arcu, id eleifend sem</p></li>
                <li><p>Proin et condimentum sapien finibus</p></li>
                <li><p>Donec commodo odio ipsum, vel mollis</p></li>
                <li><p>Nunc lacinia non diam eget efficitur</p></li>
            </ul>
        </div>
        <div class="rst-video">
            <a href="https://player.vimeo.com/video/49614838" class="fancybox-media"><i class="fa fa-play"></i></a>
        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- End About me -->
<!-- Hostro services -->
<section id="rst-hostro-services">
    <div class="container">
        <div class="col-xs-12 rst-group-title">
            <h4>Hostro Services</h4>
            <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
        </div>

        <!-- Features -->
        <div class="rst-support-features rst-index-services">
            <div class="container">
                <div class="rst-featuresinfo">
                    <ul>
                        <li>
                            <img src="images/icon/ser1.png" alt="" />
                            <h5>Retina ready</h5>
                            <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
                        </li>
                        <li>
                            <img src="images/icon/ser2.png" alt="" />
                            <h5>Easy customize</h5>
                            <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
                        </li>
                        <li>
                            <img src="images/icon/ser3.png" alt="" />
                            <h5>Pixel perfect</h5>
                            <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent tacitix.</p>
                        </li>
                    </ul>
                </div>
                <div class="rst-featuresimg">
                    <img src="images/iphone2.png" alt="" />
                </div>
                <div class="rst-featuresinfo">
                    <ul>
                        <li>
                            <img src="images/icon/ser4.png" alt="" />
                            <h5>Unlimited colors</h5>
                            <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
                        </li>
                        <li>
                            <img src="images/icon/ser5.png" alt="" />
                            <h5>features</h5>
                            <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
                        </li>
                        <li>
                            <img src="images/icon/ser6.png" alt="" />
                            <h5>Support today</h5>
                            <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- End Features -->
    </div>
</section>
<!-- End Hostro services -->
<!-- Page short description -->
<section class="rst-page-shortdes">
    <div class="container">
        <p>Donec vehicula, ante ut tristique mollis, quam quam mollis ipsum a finibus leo urna nec purus nullam non justo a enim tristique euismod id id velit</p>
        <a href="#" class="btn btn-primary">Get started</a>
    </div>
</section>
<!-- End Page short description -->
<!-- Fun fact -->
<section id="rst-funfacts" class="rst-index-funfact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 rst-group-title">
                    <h4>Fun Fact</h4>
                    <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
                </div>
                <ul>
                    <li>
                        <img src="images/icon/user.png" alt="" />
                        <p>Happy customers</p>
                        <span>1,153</span>
                    </li>
                    <li>
                        <img src="images/icon/glass.png" alt="" />
                        <p>Awards winned</p>
                        <span>25</span>
                    </li>
                    <li>
                        <img src="images/icon/sun.png" alt="" />
                        <p>Hours worked</p>
                        <span>36</span>
                    </li>
                    <li>
                        <img src="images/icon/browser.png" alt="" />
                        <p>Complete projects</p>
                        <span>95</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Fun fact -->
<!-- Pricing normal -->
<div id="rst-pricing-normal" class="rst-index-pricing">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 rst-group-title">
                <h4>Pricing Tables</h4>
                <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="rst-inner-pricing rst-smallpack">
                    <div class="rst-header-pack">
                        <div class="rst-circle1"></div>
                        <span>Small package</span>
                        <p><sup>$</sup>15<sup>.9</sup> <span>/month</span></p>
                    </div>
                    <div class="rst-detail-pack">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Hard drive, GB</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Transfer, GB</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Data bases</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Dashboards</td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="btn btn-primary ">Select plan</a>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="rst-inner-pricing rst-normalpack">
                    <div class="rst-header-pack">
                        <div class="rst-circle2"></div>
                        <span>Normal package</span>
                        <p><sup>$</sup>45<sup>.9</sup> <span>/month</span></p>
                    </div>
                    <div class="rst-detail-pack">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Hard drive, GB</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Transfer, GB</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Data bases</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Dashboards</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="btn btn-primary ">Select plan</a>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="rst-inner-pricing rst-bigpack">
                    <div class="rst-header-pack">
                        <div class="rst-circle3"></div>
                        <span>Big package</span>
                        <p><sup>$</sup>95<sup>.9</sup> <span>/month</span></p>
                    </div>
                    <div class="rst-detail-pack">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Hard drive, GB</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Transfer, GB</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Data bases</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Dashboards</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="btn btn-primary ">Select plan</a>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="rst-inner-pricing rst-bestpack">
                    <div class="rst-header-pack">
                        <div class="rst-circle4"></div>
                        <span>Best package</span>
                        <p><sup>$</sup>115<sup>.9</sup> <span>/month</span></p>
                    </div>
                    <div class="rst-detail-pack">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Hard drive, GB</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>Transfer, GB</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Data bases</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Dashboards</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="btn btn-primary ">Select plan</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End pricing normal -->
<!-- Our features -->
<div class="rst-support-features rst-index-features">
    <div class="container">
        <div class="rst-featuresinfo">
            <h4 class="rst-page-title">Our Features</h4>
            <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis</p>
            <ul>
                <li>
                    <img src="images/icon/ser7.png" alt="" />
                    <h5>Free domain name</h5>
                    <p>Cras tempus orci massa, id hendrerit mi egestas vitae.</p>
                </li>
                <li>
                    <img src="images/icon/ser7.png" alt="" />
                    <h5>Flexible panel</h5>
                    <p>Cras tempus orci massa, id hendrerit mi egestas vitae.</p>
                </li>
                <li>
                    <img src="images/icon/ser7.png" alt="" />
                    <h5>Regular updates</h5>
                    <p>Cras tempus orci massa, id hendrerit mi egestas vitae.</p>
                </li>
            </ul>
        </div>
        <div class="rst-featuresimg">
            <img src="images/iphone3.png" alt="" />
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- End Our features -->
<!-- Testimonial -->
<section id="rst-testimonial" class="rst-index-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 rst-group-title">
                <h4>People Saying</h4>
                <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
            </div>
            <div class="col-xs-12">

                <div id="owl-testimonial" class="owl-carousel">
                    <div>
                        <div class="rst-tesimg">
                            <img src="images/testimonial1.jpg" alt="" />
                        </div>
                        <div class="rst-tesinfo">
                            <p>
                                <img src="images/icon/quotes1.png" alt="" />
                                Donec vehicula, ante ut tristique mollis, quam quam mollis ipsum finibus leo urna nec purus nullam non justo a enim tristique euismod id id velit ut facilisis sem est, id sollicitudin massa.
                                <img src="images/icon/quotes2.png" alt="" />
                            </p>
                            <p class="rst-testname">Lisa doe, Hostro inc.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="rst-tesimg">
                            <img src="images/testimonial1.jpg" alt="" />
                        </div>                        
                        <div class="rst-tesinfo">
                            <p>
                                <img src="images/icon/quotes1.png" alt="" />
                                Donec vehicula, ante ut tristique mollis, quam quam mollis ipsum finibus leo urna nec purus nullam non justo a enim tristique euismod id id velit ut facilisis sem est, id sollicitudin massa.
                                <img src="images/icon/quotes2.png" alt="" />
                            </p>
                            <p class="rst-testname">Lisa doe, Hostro inc.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="rst-tesimg">
                            <img src="images/testimonial1.jpg" alt="" />
                        </div>
                        <div class="rst-tesinfo">
                            <p>
                                <img src="images/icon/quotes1.png" alt="" />
                                Donec vehicula, ante ut tristique mollis, quam quam mollis ipsum finibus leo urna nec purus nullam non justo a enim tristique euismod id id velit ut facilisis sem est, id sollicitudin massa.
                                <img src="images/icon/quotes2.png" alt="" />
                            </p>
                            <p class="rst-testname">Lisa doe, Hostro inc.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="rst-tesimg">
                            <img src="images/testimonial1.jpg" alt="" />
                        </div>
                        <div class="rst-tesinfo">
                            <p>
                                <img src="images/icon/quotes1.png" alt="" />
                                Donec vehicula, ante ut tristique mollis, quam quam mollis ipsum finibus leo urna nec purus nullam non justo a enim tristique euismod id id velit ut facilisis sem est, id sollicitudin massa.
                                <img src="images/icon/quotes2.png" alt="" />
                            </p>
                            <p class="rst-testname">Lisa doe, Hostro inc.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial -->
<!-- Partner -->
<section>
    <div class="container">
        <div class="rst-partner">
            <ul>
                <li><a href="#"><img src="images/icon/partner1.png" alt="" /></a></li>
                <li><a href="#"><img src="images/icon/partner2.png" alt="" /></a></li>
                <li><a href="#"><img src="images/icon/partner3.png" alt="" /></a></li>
                <li><a href="#"><img src="images/icon/partner4.png" alt="" /></a></li>
                <li><a href="#"><img src="images/icon/partner5.png" alt="" /></a></li>
                <li><a href="#"><img src="images/icon/partner6.png" alt="" /></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Partner -->
<!-- Get in touch -->
<section id="rst-index-git">
    <div class="container">
        <div class="col-xs-12 rst-group-title">
            <h4>Get In Touch</h4>
            <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
        </div>

        <form action="/">
            <input type="text" class="rst-page-input" placeholder="Name" />
            <input type="text" class="rst-page-input" placeholder="Company" />
            <input type="text" class="rst-page-input" placeholder="Phone" />
            <input type="submit" class="btn btn-primary" value="submit" />
        </form>

        <div class="row rst-address">
            <div class="col-xs-3">
                <span>Russia</span>
                <p>Street 15, Manhattan, New York</p>
                <a href="mailto:info@gmail.com">info@gmail.com</a>
            </div>
            <div class="col-xs-3">
                <span>India</span>
                <p>Street 15, Manhattan, New York</p>
                <a href="mailto:info@gmail.com">info@gmail.com</a>
            </div>
            <div class="col-xs-3">
                <span>Brazil</span>
                <p>Street 15, Manhattan, New York</p>
                <a href="mailto:info@gmail.com">info@gmail.com</a>
            </div>
            <div class="col-xs-3">
                <span>USA</span>
                <p>Street 15, Manhattan, New York</p>
                <a href="mailto:info@gmail.com">info@gmail.com</a>
            </div>
        </div>
    </div>
</section>
<!-- End Get in touch -->
<!--- End Content -->