﻿@model ResumeBuilder.ViewModels.Admin.AdminChangePasswordViewModel
@{
    ViewBag.Title = "Change User Password";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ChangePassword</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="submit-holder">
            <input type="submit" class="btn btn-large btn-success" value="Save" />  &nbsp;   @Html.ActionLink("Back", "Manage", "Account", new { Area = "Admin" }, new { @class = "btn btn-large btn-success" })

        </div>
    </fieldset>
}

