﻿@model Ecotech.ViewModels.Admin.RoleViewModel

@{
    ViewBag.Title = "Edit Role: " + Model.RoleName;    
}

@using (Html.BeginForm("EditRole", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Role</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleName)
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>

            <div class="submit-holder">
                <input type="submit" class="btn btn-large btn-success" value="Update" />
            </div>
    </fieldset>
}
