﻿@using Ecotech.Domain.Constants
@using ResumeBuilder.Web.Application
@model Ecotech.ViewModels.Admin.MemberListViewModel
@{
    ViewBag.Title = "Members";
}

<h2>Members</h2>


@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="search large-search input-append">
        @Html.TextBoxFor(x => @Model.Search)
        <button class="btn">Search</button>
        @Html.HiddenFor(x => x.PageIndex)
    </div>
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Users</th>
            <th>Approved</th>
            <th>Locked</th>
            <th>Roles</th>
            <th>Reset</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            var disabled = user.Id == Model.Id;
        
            <tr>
                <td>
                    <a href="@Url.Action("Edit", new { Id = user.Id })" class="btn btn-small">
                        <i class="icon-pencil"></i>
                    </a>
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => user.UserName)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.IsLockedOut)
                </td>
                <td>
                    <span class="listrolecbholder">
                        @foreach (var role in @Model.AllRoles)
                        {
                            var showChecked = user.Roles.Contains(role.RoleName) ? "checked='checked'" : "";
                            var disablecb = disabled ? "disabled='disabled'" : "";
                                <span class="listrolecb">
                                    <input type="radio" name="Roles-@user.Id" value="@role.RoleName" @showChecked @disablecb /> @Html.Raw(role.RoleName)
                                </span>   
                        }
                        <input type="hidden" id="userId" value="@user.Id" />
                    </span>
                </td>
                <td>
                    @if (!disabled)
                    {
                        <a href="@Url.Action("ChangePassword", new { user.Id, p = Model.PageIndex, search = Model.Search })" class="btn btn-small">
                            <i class="icon-lock"></i>
                        </a> 
                    } 
                </td>
                <td>
                    @if (!disabled)
                    {
                        <a href="@Url.Action("Delete", new { user.Id, p = Model.PageIndex, search = Model.Search})" class="btn btn-small">
                            <i class="icon-remove"></i>
                        </a> 
                    } 
                </td>
            </tr>
        }
    </tbody>
</table>


 @*@Html.Pager(Convert.ToInt32(Model.PageIndex), AppConstants.AdminListPageSize, Convert.ToInt32(Model.TotalCount), new { search = Model.Search })   *@



<div class="btn-group">
    @Html.ActionLink("Back", "Index", "Admin", new { Area = "Admin" }, new { @class = "btn btn-success" })
</div>
