﻿@model Ecotech.ViewModels.Admin.ListLogViewModel
@{
    ViewBag.Title = "Log";
}

<div class="row">
    <div class="span5">
        <h2>Log</h2>
    </div>
    <div class="span5 text-right">
        <a href="@Url.Action("ClearLog")" class="btn">Clear Log</a>
    </div>
</div>
<div class="clearer"></div>
<p>This is a limited view of the log, if you need to see even more logs then you you'll need to open the logfile.txt in the App_Data folder</p>

@if (Model.LogFiles.Any())
{
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Entry Date
            </th>
            <th>
                Module
            </th>
            <th>
                Method
            </th>
            <th>
                Message
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.LogFiles)
        {           
            <tr>

                <td class="logentrydate">
                    @log.Date
                </td>
                <td class="logentrymodule">
                    @log.Module
                </td>
                <td class="logentrymethod">
                    @log.Method
                </td>
                <td class="logentrymessage">
                    @log.ErrorMessage
                </td>

            </tr>
        }
    </tbody>
</table>
}
