﻿@{
    ViewBag.Title = "Error";
}
<div class="mid-content">
    <div style="width: 775px; height: 100%; margin: 80px auto;">
        <h1>
            500 Server Error.</h1>
        <div>
            @{
                Html.Display(Convert.ToString(Session["ServerError"]));
                
             }
        </div>
    </div>
</div>
