﻿@{
    System.Web.Security.FormsAuthentication.SignOut();
    ViewBag.Title = "Website Maintenance Page.";
}
<div class="mid-content">
    <div style="width:775px; height: 100%; margin: 80px auto;">
        <img alt="Page not found." width="800" src="@Url.Content("~/Content/images/web-maintenance.jpg")" />
    </div>
</div>
