﻿@{
    ViewBag.Title = "Page Not Found";
}
<div class="mid-content">
    <div style="width:435px;height:100%;margin:80px auto;">
        <img alt="Page not found." src="@Url.Content("~/Content/images/page-not-found.png")" />
    </div>
    @*<img alt="Page not found" src="@Url.Content("~/Content/images/404.jpg")" />*@
</div>
