﻿@model Ecotech.ViewModels.EmailTemplatesDetails
@{
    ViewBag.Title = "Email Templates";
    ViewBag.MenuCSSClass = "navEmailTemplates";
    var emailtemp = Model.emailtemplates;
}

<article class="blog_post clearfix">
    <!-- START RIGHT POST SIDE -->
    <section class="right_side">
        <div class="block_post">
            <!-- START TITLE -->
            <div class="frmrow">
                <div class="rowleft">
                    <p>Email Templates – Edit</p>
                </div>
            </div>
            <!-- END TITLE -->

            <!-- START TEXT -->
            <div class="clear"></div>
            <!-- END TEXT -->
            @using (Html.BeginForm())
            {
                <fieldset>
                    <div class="frmrow">
                        <div class="frmLabel">
                            <label>
                                Template ID:</label>
                        </div>
                        <div class="frmElement">
                            <label>
                                @emailtemp.EmailTemplateId</label>
                        </div>
                        <div class="clear"></div>
                        <div class="frmLabel">
                            <label>
                                Template Name:</label>
                        </div>
                        <div class="frmElement">
                            <label>
                                @emailtemp.EmailTemplateName</label>
                        </div>
                        <div class="clear"></div>
                        <div class="frmLabel">
                            <label>
                                Template Subject :</label>
                        </div>
                        <div class="frmElement">
                            <label>
                                @emailtemp.EmailTemplateSubject</label>
                        </div>
                        <div class="clear"></div>

                        <div class="frmLabel">
                            <label>
                                Template Body:</label>
                        </div>
                        <div class="frmElement">
                            <label>
                                @Html.Raw(Html.Encode(emailtemp.EmailTemplateBody).Replace("\n", "<br />"))
                                <br />
                            </label>
                        </div>
                        <div class="clear"></div>
                        <div class="frmLabel">
                            Status:
                        </div>
                        <div class="frmElement">
                            @if (@emailtemp.IsActive == true)
                            {
                                <label style="color: #4fa800">
                                    Active</label>
                            }
                            else
                            {
                                <label style="color: #ff0000">
                                    Inactive</label>
                            }
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="frmElement">
                        <a class="button grey" id="btnConverterInfoCancel" onclick="javascript: history.back();">Back</a>
                        <a  href="@Url.Action("Edit", new { Id = emailtemp.Id })"class="button grey" style="display:none;">Edit</a>
                    </div>
                    <div class="clear"></div>
                </fieldset>
            }
        </div>
    </section>
</article>
