﻿@model Ecotech.ViewModels.EmailTemplatesEditModel
@{
    ViewBag.Title = "Email Templates";
    ViewBag.MenuCSSClass = "navEmailTemplates";
}
<article class="blog_post clearfix">
    <!-- START RIGHT POST SIDE -->
    <section class="right_side">
        <div class="block_post">
            <!-- START TITLE -->
            <div class="frmrow">
                <div class="rowleft">
                    <p>Email Templates – Edit</p>
                </div>
                <div class="rowright">
                    <a href="#" class="button grey">Preview</a>
                </div>
            </div>
            <!-- END TITLE -->

            <!-- START TEXT -->
            <div class="clear"></div>
            <!-- END TEXT -->
            <div class="mandatory">* marked fields are mandatory</div>
            @using (Html.BeginForm())
            {
                <fieldset>
                    <div class="frmrow">
                        <div class="frmLabel">
                            @Html.LabelFor(model => model.TemplateId): <span>*</span>
                        </div>
                        <div class="frmElement">
                            @Html.HiddenFor(model => model.Id)
                            <label>@Model.TemplateId</label>
                        </div>
                        <div class="clear"></div>
                        <div class="frmLabel">
                            @Html.LabelFor(model => model.TemplateName): <span>*</span>
                        </div>
                        <div class="frmElement">
                            @Html.EditorFor(model => model.TemplateName)
                            @Html.ValidationMessageFor(model => model.TemplateName)
                        </div>
                        <div class="clear"></div>
                        <div class="frmLabel">
                            @Html.LabelFor(model => model.TemplateSubject): <span>*</span>
                        </div>
                        <div class="frmElement">
                            @Html.EditorFor(model => model.TemplateSubject)
                            @Html.ValidationMessageFor(model => model.TemplateSubject)
                        </div>
                        <div class="clear"></div>

                        <div class="frmLabel">
                            @Html.LabelFor(model => model.TemplateBody): <span>*</span>
                        </div>
                        <div class="frmElement">
                            @Html.EditorFor(model => model.TemplateBody)
                            @Html.ValidationMessageFor(model => model.TemplateBody)
                        </div>
                        <div class="clear"></div>
                        <div class="frmLabel">
                            @Html.LabelFor(model => model.@IsActive): <span>*</span>
                        </div>
                        <div class="frmElement">
                            @if (Model.IsActive == true)
                            {
                                <label style="color: #4fa800">
                                    Active</label>
                            }
                            else if (Model.IsActive == false)
                            {
                                <label style="color: #ff0000">
                                    Inactive</label>
                            }
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="frmElement">
                        <input type="submit" value="Save" class="button grey" onclick="return confirm('Do you want to add new Email template?');" />
                        &nbsp; &nbsp;
                                        <input type="button" class="button grey" title="Cancel" id="btnConverterInfoCancel" value="Cancel" onclick="javascript: history.back();" />
                    </div>
                    <div class="clear"></div>
                </fieldset>
            }
        </div>
    </section>
</article>
