﻿@model Ecotech.ViewModels.EmailTemplatesViewModel
@{
    ViewBag.Title = "Email Templates";
    ViewBag.MenuCSSClass = "navEmailTemplates";
}

@section HeaderSection{
    <link href="@Url.Content("~/Content/css/responsive-tables.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/libs/sprite.tables.css")" rel="stylesheet" />
}

<article class="blog_post clearfix">
    <!-- START RIGHT POST SIDE -->
    <section class="right_side">
        <div class="block_post">

            <!-- START TITLE -->
            <div class="frmrow">
                <div class="rowleft">
                    <p>Manage Email Templates</p>
                </div>
            </div>
            <!-- END TITLE -->
            <div class="clear"></div>
            <!-- START TEXT -->
            @using (Html.BeginForm("Delete", "EmailTemplates", FormMethod.Post, new { @Id = "DataGrid" }))
            {
            
                <table id="table-example" class="table responsive">
                    <thead>
                        <tr>
                            <th style="text-align: center">
                                <input type="checkbox" name="Test" onclick="SetAllCheckBoxes(this)" />
                                <input id="chkSubmit" name="chkSubmit" type="hidden" />
                            </th>
                            <th>Template ID</th>
                            <th>Template Name</th>
                            <th>Template Subject</th>
                            <th>Modified On</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var emailtemplates in Model.emailtemplates)
                        {
                            <tr class="gradeX">
                                <td style="width: 8%; text-align: center">
                                    <input type="checkbox"  name="@emailtemplates.Id" />
                                </td>
                                <td>
                                    @emailtemplates.EmailTemplateId
                                </td>
                                <td>
                                    @emailtemplates.EmailTemplateName
                                </td>
                                <td>
                                    @emailtemplates.EmailTemplateSubject
                                </td>
                                <td>
                                    @SKF_LCO_System.Utilities.DateUtils.FormatDateTime(emailtemplates.LastModified.ToString(), AppConstants.DefaultDateFormat)
                                </td>
                                @if (emailtemplates.IsActive == true)
                                {
                                    <td style="color: #4fa800">Active
                                    </td>
                                }
                                else
                                {
                                    <td style="color: #ff0000">Inactive
                                    </td>
                                }
                                <td style="width: 10%">
                                    @*  <a href="@Url.Action("Edit", new { Id = emailtemplates.Id })" >Edit</a> &nbsp | &nbsp *@
                                    <a href="@Url.Action("Details", new { Id = emailtemplates.Id })">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="clear"></div>
            @if (@Model.emailtemplates.Count != 0)
            {
                <div class="row1">
                    <a class="button grey" onclick="statusChange('Active','EmailTemplates','Email Templates')">Active</a>
                    <a class="button grey" onclick="statusChange('Inactive','EmailTemplates','Email Templates');">Inactive</a>
                    <a href="#" class="button grey" onclick="javascript:fnDelete();" style="display: none">Delete</a>
                </div>
            }
            <!-- END TEXT -->

        </div>
    </section>
</article>
@section FooterSection{
    <script src="@Url.Content("~/Content/js/lib/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/responsive-tables.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $("#table-example").dataTable({
                "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [0, -1] }
                ]
            }).wrap('<div class="tablecont" />');
            $(window).resize();
        });
        disableCheckBox('@Model.emailtemplates.Count');
    </script>
}
