﻿@model ResumeBuilder.ViewModels.UserChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}

<article class="blog_post clearfix">
    <!-- START RIGHT POST SIDE -->
    <section class="right_side">
        <div class="block_post">
            <!-- START TITLE -->
            <div class="frmrow">
                <div class="rowleft">
                    <p>Change password</p>
                </div>
            </div>
            <!-- END TITLE -->

            <!-- START TEXT -->
            <div class="clear"></div>
            <!-- END TEXT -->
            <div class="mandatory">* marked fields are mandatory</div>
            @using (Html.BeginForm("ChangePassword", "Members", FormMethod.Post, new { @id = "frmChangePwd" }))
            {
                <fieldset>
                    <div class="frmrow">
                        <div class="frmLabel">
                            @Html.LabelFor(model => model.OldPassword): <span>*</span>
                        </div>
                        <div class="frmElement">
                            @Html.EditorFor(model => model.OldPassword)
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </div>
                        <div class="clear"></div>
                        <div class="frmLabel">
                            @Html.LabelFor(model => model.NewPassword): <span>*</span>
                        </div>
                        <div class="frmElement">
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                        <div class="clear"></div>
                        <div class="frmLabel">
                            @Html.LabelFor(model => model.ConfirmPassword): <span>*</span>
                        </div>
                        <div class="frmElement">
                            @Html.EditorFor(model => model.ConfirmPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="frmElement">
                        <a class="button grey" onclick="return ChangePwd('Members');">Save</a>
                        <a class="button grey" id="btnConverterInfoCancel" onclick="javascript: history.back();">Cancel</a>
                            @Html.AntiForgeryToken()
                    </div>
                    <div class="clear"></div>
                </fieldset>
            }
        </div>
    </section>
</article>

@section FooterSection{
    <script type="text/javascript">
        $('input[type="password"]').addClass("wd200");
    </script>
}
