﻿@model ResumeBuilder.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    ViewBag.MenuCSSClass = "liMembers";
}
<fieldset class="mgrA wd470">
    <legend>Forgot Password: </legend>
    @using (Html.BeginForm("ForgotPassword", "Members", FormMethod.Post, new { @id = "html5form" }))
    {
        <div class="frmrow">
            <div class="frmLabel">@Html.LabelFor(m => m.EmailAddress) <span>*</span></div>
            <div class="frmElement">
                <input type="email" pattern="@Html.Raw("[^ @]*@[^ @]*")" class="field" id="EmailAddress" data-val="true" data-val-required="The Email Address filed is required." name="EmailAddress"onkeydown="fnForPassword(event);" required="required" placeholder="Enter Email" />
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div class="clear"></div>
        </div>
        <div style="display: none">
            @Html.ValidationSummary(true)
        </div>
        <div class="row">
            <div class="frmLabel">&nbsp; @Html.AntiForgeryToken() </div>
            <div class="frmElement">
                <input type="submit" title="Send Password" value="Send Password" name="SendPassword" class="button" />
                @Html.ActionLink("Back To Login", "LogOn", new { }, new { @class = "grey" })
            </div>
            <div class="clear"></div>
        </div>
    }
</fieldset>
