﻿@model ResumeBuilder.ViewModels.LogOnViewModel
@{
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        Response.Redirect("/Members/LogOff", true);
    }
    ViewBag.Title = "Login";
}

<section id="account-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form action="/">
                    <h4 class="rst-page-title">Have an Account? <a href="#">Sign in</a></h4>
                    <div class="rst-register-content">
                        <div class="rst-field">
                            <span>name</span>
                            <input type="text" value="Artem" class="rst-valid" />
                        </div>
                        <div class="rst-field">
                            <span>Email</span>
                            <input type="email" value="info@gmail.com" class="rst-valid" />
                        </div>
                        <div class="rst-field rst-packagefield">
                            <span>Package</span>
                            <select id="package">
                                <option value="home" data-description="from $19.99 / per mount">Home</option>
                                <option value="normal" selected="selected" data-description="from $49.99 / per mount">Normal</option>
                                <option value="professional" data-description="from $99.99 / per mount">Professional</option>
                            </select>
                        </div>
                        <div class="rst-field rst-languagefield">
                            <span>Language</span>
                            <input id="country" type="text" readonly="readonly">
                        </div>
                        <div class="rst-field">
                            <span>Password</span>
                            <input type="password" value="05484455" class="rst-valid" />
                            <input type="password" value="05484455" class="rst-valid" />
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Get started" />
                </form>
            </div>
        </div>
    </div>

</section>
<link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
@*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />*@
<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
<!-- Bootstrap
================================================== -->
<link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/jasny-bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.2.0/css/font-awesome.css" />
<!-- Animate
================================================== -->
<link href='~/Content/css/effect2.css' rel='stylesheet' type='text/css' />
<link href='~/Content/css/animate.css' rel='stylesheet' type='text/css' />

<!-- Add fancyBox CSS files -->
<link rel="stylesheet" type="text/css" href="~/Content/js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />

<!-- Owl Slider CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/css/owl.carousel.css" media="screen" />
<link rel="stylesheet" type="text/css" href="~/Content/css/owl.theme.css" media="screen" />
<link rel="stylesheet" type="text/css" href="~/Content/css/owl.transitions.css" media="screen" />

<!-- Custom Css
================================================== -->
<link rel="stylesheet" type="text/css" href="~/Content/css/rs-wp-v1.2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/countrySelect.css" />
<link rel="stylesheet" type="text/css" href="~/Content/fonts/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/main.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" />
<!-- Google Fonts
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

@*<fieldset class="mgrA wd470">
    <legend>Login: </legend>
    @using (Html.BeginForm("LogOn", "Members", System.Web.Mvc.FormMethod.Post, new { @id = "html5form" }))
    {
        <div class="frmrow">
            <div class="frmLabel">@Html.LabelFor(m => m.UserName) <span>*</span></div>
            <div class="frmElement">

                @Html.TextBoxFor(m => m.UserName, new { @class = "field", @placeholder = "Enter UserName" })
                @Html.ValidationMessageFor(m => m.UserName)
                <input type="text" name="txtLoginNm" id="txtLoginNm" class="field" required="required" placeholder="Enter Username" onkeydown="fnAdmPassword(event);" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="frmrow">
            <div class="frmLabel">@Html.LabelFor(m => m.Password) <span>*</span></div>
            <div class="frmElement">
                @Html.PasswordFor(m => m.Password, new { @class = "field", @maxlength = "20", @placeholder = "Enter Password" })
                @Html.ValidationMessageFor(m => m.Password)
                <input type="password" name="txtPwd" id="txtPwd" class="field" maxlength="20" required="required" placeholder="Enter Password" onkeydown="fnAdmPassword(event);" />
            </div>
            <div class="clear"></div>
        </div>
        <div>
            @Html.ValidationSummary(true)
        </div>
        <div class="row">
            <div class="frmLabel"> &nbsp; @Html.HiddenFor(x => x.ReturnUrl) </div>
            <div class="frmElement">
                <input type="submit" title="Login" value="Login" name="Login" class="button" />
                @Html.ActionLink("Forgot Password", "ForgotPassword", new { }, new { @class = "grey" })
            </div>
            <div class="clear"></div>
        </div>
    }
</fieldset>*@

