﻿<!-- footer -->
@*<div class="bfooter">
    <div class="col-md-12 footer">
        <p class="text-center">
            <img class="none" src="@Url.Content("~/Content/images/log-footer.png")" alt="" />&nbsp;&nbsp;|&nbsp;&nbsp;&copy; <small>COPYRIGHT</small></p>
    </div>
</div>*@
<div class="rst-footer-intro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Hosting use <span>500,000</span> happy customers. Want to see services?</p>
            </div>
        </div>
    </div>
</div>
<!-- end intro -->

<div class="rst-footer-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>© 2015 Hostro. All right reserved.</p>
                <a class="rst-uptop" href="#"><i class="fa fa-angle-up"></i></a>
                <nav>
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="support.html">Support</a></li>
                        <li><a href="#">Get Started</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
