﻿@using ResumeBuilder.ViewModels
@{   
    var genericMessage = new GenericMessageViewModel();
    if (TempData[AppConstants.MessageViewBagName] != null)
    {
        genericMessage = (GenericMessageViewModel)TempData[AppConstants.MessageViewBagName];
    }
    else if (ViewBag.Message != null)
    {
        genericMessage = (GenericMessageViewModel)ViewBag.Message;
    }
}
<div id="jsquickmessage" style="display: none;">
</div>
@if (!string.IsNullOrEmpty(genericMessage.Message))
{
    <script type="text/javascript">
        $(function () {
            //$('div.alert').hide();
            alert("@Html.Raw(genericMessage.Message)");
            //$('div.alert').delay(3000).fadeOut(); 
        });
    </script>
@*<div class="alert alert-block alert-@genericMessage.MessageType.ToString() fade in out">
    <a href="#" data-dismiss="alert" class="close">&times;</a>
    @Html.Raw(genericMessage.Message)
</div>*@
}
