﻿@*<header>
    <div class="rst-header-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="rst-header-menu">
                        <a href="index.html"><img src="~/Content/images/header-logo.png" alt="" /></a>
                        <ul class="rst-login">
                            <li>
                                <div class="rst-accsetting-name">
                                    <img src="~/Content/images/avatar.jpg" alt="" /><a href="#">John doe<i class="fa fa-caret-down"></i></a>
                                    <div class="rst-settingmenu">
                                        <ul>
                                            <li><a href="account.html">Personal setting</a></li>
                                            <li><a href="#">Sign out</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </li>
                            <li><a class="rst-menubtn" href="#"><img src="~/Content/images/icon/menu-mobile.png" alt="" /></a></li>
                        </ul>
                        <ul>
                            <li class="current-menu-item"><a href="Home\Index">home</a></li>
                            <li><a href="about.html">about</a></li>
                            <li><a href="pricing.html">pricing</a></li>
                            <li><a href="contact.html">contact</a></li>
                            <li>
                                <a href="#">page</a>
                                <ul>
                                    <li><a href="shortcodes.html">Shortcodes</a></li>
                                    <li><a href="account.html">Account</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="support.html">Support</a></li>
                                    <li><a href="coming.html">Coming</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end header menu -->

    <div class="rst-header-banner owl-carousel" id="rst-index-banner">
        <div class="rst-index-slider">
            <div class="rst-slider-background" style="background: url('~/Content/images/indexbanner-bg.jpg') no-repeat top center;"></div>
            <div class="container">
                <div>
                    <h3>Flexible Panel</h3>
                    <p>Curabitur ultricies elementum mauris eu dapibus dui <br /> aliquet mauris euismod neque a molestie</p>
                    <a href="#" class="btn btn-primary">Get started</a>
                </div>
            </div>
        </div>
        <div class="rst-index-slider">
            <div class="rst-slider-background" style="background: url('~/Content/images/indexbanner-bg2.jpg') no-repeat top center;"></div>
            <div class="container">
                <div>
                    <h3>Hosting for Bussines</h3>
                    <p>Curabitur ultricies elementum mauris eu dapibus dui <br /> aliquet mauris euismod neque a molestie</p>
                    <a href="#" class="btn btn-primary">Get started</a>
                </div>
            </div>
        </div>
        <div class="rst-index-slider">
            <div class="rst-slider-background" style="background: url('~/Content/images/indexbanner-bg3.jpg') no-repeat top center;"></div>
            <div class="container">
                <div>
                    <h3>Regular Updates</h3>
                    <p>Curabitur ultricies elementum mauris eu dapibus dui <br /> aliquet mauris euismod neque a molestie</p>
                    <a href="#" class="btn btn-primary">Get started</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end header banner -->
    <!-- Hidden Log in form -->
    <div class="rst-floatlogin">
        <div class="rst-floatlogin-content">
            <a href="#"><img src="~/Content/images/icon/login-close.png" alt="" /></a>
            <form action="/">
                <h4 class="rst-page-title">Login</h4>
                <p><a href="#">Signup</a> for free one mount trial</p>
                <input class="rst-page-input" type="text" placeholder="Artem" />
                <input class="rst-page-input" type="password" placeholder="Password" />
                <input type="submit" class="btn btn-primary" value="LOGIN" />
            </form>
        </div>
    </div>
    <!-- End Log in form -->
    <!-- Hidden menu -->
    <!-- End Hidden menu -->
</header>*@
<div class="rst-header-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav class="rst-header-menu">
                    <a href="index.html"><img src="~/Content/images/header-logo.png" alt="" /></a>
                    <ul class="rst-login">
                        <li><a class="rst-loginbtn" href="#">log in</a></li>
                         <li><a class="rst-menubtn" href="#"><img src="~/Content/images/icon/menu-mobile.png" alt="" /></a></li>
                    </ul>
                    <ul>
                        <li><a href="Home/Index">home</a></li>
                        <li><a href="about.html">about</a></li>
                        <li><a href="pricing.html">pricing</a></li>
                        <li><a href="contact.html">contact</a></li>
                        <li class="current-menu-item">
                            <a href="#">page</a>
                            <ul>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                                <li><a href="account.html">Account</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="support.html">Support</a></li>
                                <li><a href="coming.html">Coming</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </nav>
            </div>
        </div>
    </div>
</div>