﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />*@
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
    <!-- Bootstrap
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/jasny-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.2.0/css/font-awesome.css" />
    <!-- Animate
    ================================================== -->
    <link href='~/Content/css/effect2.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/css/animate.css' rel='stylesheet' type='text/css' />

    <!-- Add fancyBox CSS files -->
    <link rel="stylesheet" type="text/css" href="~/Content/js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />

    <!-- Owl Slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.carousel.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.theme.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.transitions.css" media="screen" />

    <!-- Custom Css
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/rs-wp-v1.2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/countrySelect.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" />
    <!-- Google Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    }
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    @RenderSection("MetaSection", false)
    <title>:: Resume Builder :: @ViewBag.Title</title>
    <script type="text/javascript">
        //set application base path
        var app_base = '@Url.Content("~/")';
    </script>
    
    @*<script src="@Url.Content("~/Content/js/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
    
    <!--[if lt IE 9]>
	    <link rel='stylesheet' href="@Url.Content("~/Content/css/ie/ie8.css")" />
    <![endif]-->
    @Html.Partial("_Header")
    @RenderSection("HeaderSection", false)
    <!-- Hidden Log in form -->
    
    <!-- End Log in form -->
</head>
<body>
    <div class="rst-floatlogin">
        <div class="rst-floatlogin-content">
            <a href="#"><img src="images/icon/login-close.png" alt="" /></a>
            <form action="/">
                <h4 class="rst-page-title">Login</h4>
                <p><a href="#">Signup</a> for free one mount trial</p>
                <input class="rst-page-input" type="text" placeholder="Artem" />
                <input class="rst-page-input" type="password" placeholder="Password" />
                <input type="submit" class="btn btn-primary" value="LOGIN" />
            </form>
        </div>
    </div>
    <div id="fallr-overlay" style="display: none; z-index: 999;">
        @*<div style="text-align: center; vertical-align: middle; top: 42%; position: relative;">
            <img alt="Processing" src="@Url.Content("~/Content/images/loading_transparent.gif")" />
        </div>*@
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12 bg">
                <div class="heading">
                    @if ((Roles.IsUserInRole(ResumeBuilder.Domain.Constants.AppConstants.RoleNameSuperAdmin)))
                    {
                        @Html.Partial("_Header")
                    }
                    else if ((Roles.IsUserInRole(ResumeBuilder.Domain.Constants.AppConstants.RoleNameStaff)) || Roles.IsUserInRole(ResumeBuilder.Domain.Constants.AppConstants.RoleNameUsers))
                    {
                        @Html.Partial("_OrderDetails") 
                    }
                    @Html.Partial("_GenericMessage")
                    <!--Mid Section Start-->
                    @RenderBody()
                    <!--Mid Section End-->
                </div>
            </div>
            <div class="col-md-12 bg">
                &nbsp;
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
    <script type="text/javascript">
        $('input[type="text"]').addClass('form-control');
        $('input[type="password"]').addClass('form-control');
        $('textarea').css({ width: 220 }).addClass('form-control');
        $("#@ViewBag.MenuCSSClass").addClass("active");
    </script>
   
    @RenderSection("FooterSection", false)
    <script type="text/javascript" src="~/Content/js/jquery.1.11.1.js"></script>

    <!-- Bootstrap Js Compiled Plugins -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>

    <!-- WoW Js -->
    <script type="text/javascript" src="~/Content/js/wow.min.js"></script>

    <!-- Add Fancybox -->
    <script type="text/javascript" src="~/Content/js/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/Content/js/fancybox/helpers/jquery.fancybox-media.js"></script>

    <!-- Owl Slider Js -->
    <script type="text/javascript" src="~/Content/js/owl.carousel.js"></script>

    <!-- Custom Google Maps js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgGyzOzpWh_mTpdx-UPt92W6GI8hE7P3M"></script>

    <!-- Custom Js -->
    <script type="text/javascript" src="~/Content/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.ddslick.min.js"></script>
    <script type="text/javascript" src="~/Content/js/custom-form-elements.js"></script>
    <script type="text/javascript" src="~/Content/js/countrySelect.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.countdown.js"></script>
    <script type="text/javascript" src="~/Content/js/circle-progress.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/js/main.js"></script>
</body>
</html>
